<section>
    <div class="column left">
        <div class="title">
            <h2>สร้างวีดีโอของคุณได้ง่ายๆ</h2>
            
            <div style="margin-top: -10%;display:flex;flex-direction: row;">
                <h2>ด้วย</h2>
                <h2 style="padding-left: 2% ;letter-spacing: 1.3px;color: #01BFFB;">Speech to video</h2>
            </div>
            <p>{{detail}}</p>
        </div>
       
        <button>Get started</button>
    </div>
    <div class="column right">
        
    </div>
</section>