<section>
    <div class="column">
        <div class="col-4">
            <div class="title">Contact us</div>
            <ol>
                <i class="local"></i>Botnoi Consulting Co., Ltd.<br>
                FYI Center 11 fl. (Tower B), 2525 Rama IV Rd,<br>
                Khlong Toei, Khlong Toei, Bangkok 10110<br>
                <br>
                <i class="phone"></i>061-820-1998<br>
                <br>
                <i class="email"></i>admin@botnoigroup.com<br>
            </ol>
        </div>
        <div class="col-4">
            <div class="title">About us</div>
            <ol style="margin-left: -30px;">
                Blog<br>
                Case studies<br>
                FAQ<br>
            </ol>
        </div>
        <div class="col-4">
            <div class="title">POLICIES</div>
            <ol style="margin-left: -30px;">
                lTerms & Conditions<br>
                Privacy Policy<br>
            </ol>
            <button class="facebook"></button>
            <button class="youtube"></button>
        </div>
    </div>
</section>