/*Navbar Style*/

.navbar {
    font-family: "Prompt";
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu' , sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &.sticky {
      padding: 30px 0;
      background: #008EFF;

    }
  
    .max-width {
      font-family: "Prompt";
      display: flex;
      align-items: center;
      justify-content: space-between;
      button{
        box-sizing: border-box;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // margin-top: 5%;
        margin-left: 450px;
        
        gap: 4px;
        width: 146px;
        height: 44px;

        /* GD PP */
        border-radius: 4px;
        background-color: #01BFFB;
        border: none;
        // font
        font-family: "Prompt";
        color: white;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      &.sticky button{
        background-color: rgb(0, 0, 0);
        color: #ffffff;
      }
    }

    .logo{
      display: flex;
      background-image: url('data/logo.svg');
      height: 59.060462951660156px;
      width: 82px;
    }
    &.sticky .logo{
      display: flex;
      background-image: url('data/logo2.svg');
      height: 59.060462951660156px;
      width: 82px;
    }
  
    .logo a {
      display: flex;
      color: rgb(0, 0, 0);
      font-size: 35px;
      font-weight: 600;
      span {
        color: #008EFF;
      }
    }
  
    &.sticky .logo a span {
      color: rgb(255, 255, 255);
      transition: all 0.3s ease;
    }
  
    .menu li {
      list-style: none;
      display: inline-block;
  
      i {
        color: rgb(0, 0, 0);
        font-size: 35px;
      }
  
      a {
        display: block;
        color: rgb(0, 0, 0);
        text-decoration:none;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        transition: color 0.3s ease;
  
        &:hover {
          color: #008EFF;
        }
      }
    }
  
    &.sticky .menu li a:hover {
      color: rgb(0, 0, 0);
      transition: all 0.3s ease;
    }
    &.sticky .menu li a{
      color: rgb(255, 255, 255);
      
    }
  }
