<nav class="navbar">
    <div class="max-width">

        <div class="logo">
            <img src="data/logo.svg" alt="">
        </div>
        <ul class="menu">

            <li><a href="#home" class="menu-btn">Solution</a></li>
            <li><a href="#about" class="menu-btn">Feature</a></li>
            <li><a href="#services" class="menu-btn">Use cases</a></li>

        </ul>
        <div>
            <button>Get started</button>
        </div>
        <!-- Not show (19.34) -->
        <div class="menu-btn">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</nav>